#welcomeView {
    -fx-min-height: 670px;
    -fx-min-width: 1000px;
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-background-image: url("images/Bakery.jpg");
    -fx-background-size: 100%;
}

.VBox {
    -fx-alignment: center;
    -fx-alignment-align: center;
}

.textWelcome {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 12, 0.3, 0, 4);
    -fx-padding: 0 0 15 0;
}

#enterButton {
    -fx-padding: 5 20 5 20;
}